/* Estilos para el header y footer 
    Ademas del Index como tal */

.caeza  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #0371f8;
    border-bottom: 1px solid #000000; 

}
.caeza a {
    text-decoration: none;
    color: #000000;
}

.logo-centro    {
    height: 50px;
}

.derecha-inicio {
    margin-left: 15px;
}

.derecha-inicio a {
    margin-left: 20px;
}

.caja-cartas{
    display: flex;
    justify-content: center;
    gap: 300px;
    margin: 40px auto;
    padding: 0 20px;
}

.pie-web {
  display: flex;                 
  justify-content: space-between; 
  align-items: center;
  padding: 10px 20px;            
  background-color: #0371f8;     
  border-top: 1px solid #000000;  
  margin-top: 40px;
  
}   
/* Estilos para el inicio de sesion (puse mal el nombre del archivo XD) */
/* Los estilo del header y footer se repiten asi que no hace falta cambiarlos, cualquier cambio se haria en el mismo HTML */

.caja-inicio-sesion {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    
}

/* Estilos para el registro */

.caja-registro {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

/*Estilos para el mantenimiento */

.caja-evaluacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}


